.imgPortada {
    width: 100%;
}

.texto {
    background-color: #7AB8BF;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    width: 75%
}