
.itemsDetails {
    text-align: center;
    margin: 50px auto;
    background-color: #DED1A6;
}

.itemsDetails .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemsDetails p {
    font-size: 18px;
}

p.precioTxt {
    font-size: 22px;
    font-weight: 500;
}

h3 {
    font-size: 26px;
}

.imgDetails {
    margin: 10px;
}

.infoDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
}

.btn-finalizarCompra {
    margin-bottom: 10px;
}

@media only screen and (max-width: 375px) {

    .itemsDetails .contenedor {
        flex-direction: column;
    }

    .imgDetails {
        width: 80%;
        margin: 50px auto;
        text-align: center;
    }

    .imgDetails img {
        width: 60%;
        margin: 0 auto;
    }

    .infoDetails {
        width: 100%;
    }

}

@media only screen and (max-width: 480px) {

    .itemsDetails .contenedor {
        flex-direction: column;
    }

    .itemsDetails {
        width: 90%;
    }

    .imgDetails {
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }

    .imgDetails img {
        margin: 0 auto;
    }

    .infoDetails {
        width: 100%;
    }
}