
.itemsDetails {
    text-align: center;
    width: 80%;
    margin: 50px auto;
    border: 1px solid ;
    background-color: #FAEAB4;
}

h3 {
    font-size: 20px;
}

.imgDetails {
    margin: 10px;
    background-color: #FAEAB4;
}

.imgDetails img {
    /* width: 40%; */
}

.infoDetails {
    margin-top: 15px;
    padding-top: 15px;
    background-color: #FAD869;
}

.btnFinalizarCompra {
    font-size: 16px;
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 375px) {

    .imgDetails {
        width: 60%;
        margin: 50px auto;
        text-align: center;
    }

    .imgDetails img {
        width: 60%;
        margin: 0 auto;
    }

    .infoDetails {
        width: 100%;
    }

}

@media only screen and (max-width: 810px) {

    .imgDetails {
        width: 40%;
        margin: 50px auto;
        text-align: center;
    }

    .imgDetails img {
        width: 40%;
        margin: 0 auto;
    }

    .infoDetails {
        width: 100%;
    }
}