.item{
    width: 500px;
    margin: 20px;
    border: 2px solid #C7AC54;
    border-radius: 5px;
}

.item img {
    margin: 20px auto 20px;
    height: 250px;
}

.info {
    background-color: #C7AC54;
}

.info button {
    margin-bottom: 10px;
    font-size: 16px;
    height: 40px;
    width: 250px;
}

.item--outOfStock {
    filter: grayscale(100);
}

.warning {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    background-color: black;
    transform: rotate(-45deg);
}

@media only screen and (max-width: 375px) {
    .item {
        width: 250px;
    }

    .item img {
        height: 125px;
    }

    .info button{
        width: 125px;
        height: 70px;
    }
}