.item{
    width: 500px;
    margin: 20px;
    border: 2px solid #3F7175;
    border-radius: 5px;
}

.item img {
    width: 250px;
}

.info {
    background-color: #3F7175;
}

.info button {
    margin-bottom: 10px;
    font-size: 16px;
    height: 40px;
    width: 250px;
}