.item{
    width: 500px;
    margin: 20px;
    border: 2px solid #3F7175;
    border-radius: 5px;
}

.item img {
    width: 250px;
}

.info {
    background-color: #3F7175;
}

.info button {
    margin-bottom: 10px;
    font-size: 16px;
    height: 40px;
    width: 250px;
}

.item--outOfStock {
    filter: grayscale(100);
}

.warning {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    background-color: black;
    transform: rotate(-45deg);
}