.navbar {
  background-color: #FAEAB4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
 width: 200px;
}

.navbar-toggle {
  display: none;
  background: none;
  border: none;

}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
}

.navbar-menu.open {
  display: block;
}

.navbar-item {
  margin-left: 50px;
}

.navbar-item a {
  color: #333;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    background-color: #FAEAB4;
    text-align: center;
    overflow: hidden;
  }

  .navbar-menu.open {
    display: block;
  }

  .navbar-item {
    margin: 30px 0;
  }
}
