nav {
  padding: 10px;
  height: 180px;
  background-color: #395659;
}

.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
  }

.navBar li {
  margin: auto;
  line-height: 100px;
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #7AB8BF;
}

.logo {
  width: 180px;
}