h2 {
    color: #7A7258;
}

.footer {
    text-align: center;
    margin: 50px auto;
    border-top: solid 1px #FAD869;
    width: 80%;
}

.footer i {
    font-size: 40px;
    margin: 10px;
    color: #7A7258;
}