h2 {
    margin: 10px;
}

.formularioContacto {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

input {
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea { 
    border: 2px solid black;
    height: 150px;
    margin-bottom: 10px;
}