body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: aquamarine;
}

h1 {
  color: #7A6A33;
  margin: 100px auto;
  padding-top: 30px;
  text-align: center;
  border-top: solid 1px #7A6A33;
  width: 80%;
}

.btn {
  min-width: 130px;
  margin-bottom: 1.5rem;
  height: 2.4rem;
  color: #fff;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 1px solid #38352A;
  background: #78715A;
}

.btn:hover{
  background: #fff;
  color: #495057
}

.stockTxt {
  font-size: 0.9rem;
}

.cantidadSelecTxt {
 font-weight: 500;
}

@media only screen and (max-width: 480px) {
  h1 {
      margin: 50px auto;
  }
}
