.contadorItem {
    width: 100%;
    background-color: #FAD869;
    border-top: 1px solid black;
    border-radius: 2px;
}

.contadorItem button {
    margin: 5px;
    height: 25px;
}

.btnCant {
    font-size: 20px;
    line-height: 20px;
    width: 100px;
    height: 40px;
}

.btnAgregar {
    font-size: 15px;
    line-height: 20px;
    width: 250px;
    height: 50px;
}