.contadorItem {
    width: 100%;
    background-color: #DED1A6;
    border-top: 1px solid #DED1A6;
    border-radius: 2px;
}

.contadorItem button {
    margin: 5px;
}

.btn-contador {
    min-width: 50px !important;
}

.cantidadTxt {
    font-size: 0.9rem;
}
